<ul class="list-group-item  " *ngIf="checkToLogin()==true">
    <li class="list-group-item  list-group-item-primary d-flex justify-content-between align-items-center" 
    routerLink = "/cars" aria-current="true"> <strong>Renkler</strong> </li>
    
    <li (click)="setCurrentColor(color)" 
    routerLink="/cars/color/{{color.colorId}}" 
    *ngFor="let color of colors" 

    [class]="getCurrentColorClass(color) ">{{color.colorName}}</li>

    <li class="list-group-item  align-items-center">
      <button routerLink="colors/update" class="btn btn-danger col-12 "> <strong>Renkleri Güncelle</strong> </button>
  </li>
  </ul>


