
<table class="table">
    <thead>
        <tr>
            <th>isim </th>
            <th>soyisim</th>
            <th>mail</th>
            <th>şehir</th>
            <th>findeks</th>
            <th>id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.companyName}}</td>
            <td>{{user.findeksPoint}}</td>
            <td>{{user.id}}</td>
        </tr>
    </tbody>
</table>

