
 <div class=" mb-3"></div>
 
  <div class=" container text-center  " >
   
 
    <div class="card border-success bg-white mb-3 container " style="max-width: 25rem;">
      <img src="https://i.hizliresim.com/UOVvTh.png" width="300" height="">

        <div class="card-header bg-white text-center"> <strong style="color: rgb(2, 65, 29);">Giriş </strong> </div>
        <div class="card-body text-dark">
          <main class="form-signin ">
            <form [formGroup]="loginForm" >
              <img 
                class="mb-4"
                src="https://icons.iconarchive.com/icons/graphicloads/flat-finance/256/person-icon.png"
                alt=""
                width="72"
                height="67"
              />
              <h1 class="h3 mb-3 fw-normal">Giriş yap</h1>
        
              <div class="form-floating mb-3">
                <input
                formControlName="email"
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <label for="floatingInput ">E-posta</label>
              </div>
              <div class="form-floating mb-3">
                <input
                formControlName="password"
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                />
                <label for="floatingPassword">Parola</label>
              </div>
        
              <div class="checkbox mb-3 mb-3">
                <label>
                  <input type="checkbox" value="remember-me" /> Remember me
                </label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" (click)="login() " >
                Giriş yap
              </button>
              
                <a class="mb-3" routerLink="/register">Henüz Kayıt Olmadınız mı ? </a>
 
            </form>
          </main>
        </div>
      </div>

</div>

   
  